<%- include("header-photo") %>

    <div class="container-md mt-5">

        <% for(var i=0; i<datas.length; i++) {%>

            <div class="col-sm-6">
                <div class="card mb-1">
                    <img src="<%= datas[i].urls.small %>" class="card-img-top" alt="<%= datas[i].alt_description %>">
                    <div class="card-body">
                        <h5 class="card-title">
                            <%= datas[i].views %> views
                                <%= datas[i].downloads %> downloads
                        </h5>
                        <p class="card-text">
                            <%= datas[i].links.description %>
                        </p>
                        <a href="<%= datas[i].links.download %>" class="">Download</a>
                    </div>
                </div>
            </div>
            <% } %>

    </div>

    <%- include("foot") %>