<%- include("header-photo") %>

    <div class="container-md mt-5">

        <!-- <h1>
            <%= title  %>
                <%= total %>
        </h1> -->

        <div class="searcharea">
            <div class="col-sm-6">
                <form action="/photoes/search" method="GET">
                    <div class="form-group">
                        <!-- <label for="searchInputText">Search photoes</label> -->
                        <input type="text" class="form-control card-text" id="searchInputText" placeholder="input here..." name="query">
                        <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
                    </div>

                    <button type="submit" class="btn btn-primary card-title">Search</button>
                </form>
            </div>
        </div>

        <% if (title) { %>
            <div class="mt-5" id="photolist">
                <% for(var i=0; i<datas.length; i++) {%>

                    <div class="col-sm-6">
                        <div class="card">
                            <img src="<%= datas[i].urls.small %>" class="card-img-top" alt="<%= datas[i].alt_description %>">
                            <div class="card-body">
                                <h5 class="card-title">
                                    <%= datas[i].likes %> likes <img src="/lib/bootstrap-icons/icons/heart-fill.svg" alt="" width="14" height="14" title="like photo">
                                </h5>
                                <p class="card-text">
                                    <% if (datas[i].description) { %>
                                        <%= datas[i].description %>
                                            <% } %>
                                </p>
                                <a href="<%= datas[i].links.download %>">
                                    <h5 class="card-title text-primary">Download <img src="/lib/bootstrap-icons/icons/cloud-arrow-down.svg" alt="" width="12" height="12" title="download photo"></h5>
                                </a>
                            </div>
                        </div>
                    </div>
                    <% } %>
            </div>
            <% } else{ %>
                <div class="mt-5" id="photolist">
                    <% for(var i=0; i<datas.length; i++) {%>

                        <div class="col-sm-6">
                            <div class="card">
                                <img src="<%= datas[i].urls.small %>" class="card-img-top" alt="<%= datas[i].alt_description %>">
                                <div class="card-body">

                                    <div class="card-title">
                                        <span class="myphotoinfo">
                                            <%= datas[i].views %> views <img src="/lib/bootstrap-icons/icons/eye.svg" alt="" width="14" height="14" title="view photo">
                                        </span>
                                        <span class="myphotoinfo">
                                            <%= datas[i].downloads %> <img src="/lib/bootstrap-icons/icons/cloud-arrow-down.svg" alt="" width="14" height="14" title="download photo">
                                        </span>
                                        <span class="myphotoinfo">
                                            <%= datas[i].likes %> likes <img src="/lib/bootstrap-icons/icons/heart-fill.svg" alt="" width="14" height="14" title="like photo">
                                        </span>
                                    </div>
                                    <p class="card-text">
                                        <%= datas[i].links.description %>
                                    </p>
                                    <a href="<%= datas[i].links.download %>">
                                        <h5 class="card-title text-primary">Download <img src="/lib/bootstrap-icons/icons/cloud-arrow-down.svg" alt="" width="12" height="12" title="download photo"></h5>
                                    </a>

                                </div>
                            </div>
                        </div>
                        <% } %>
                </div>
                <% } %>

    </div>
    <div id="loading" class="mt-5">
        <div class="d-flex justify-content-center">
            <div class="spinner-border text-light" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
    </div>

    <%- include("foot") %>
        <script type="module" src="/js/photolist.js"></script>