<%- include("header-photo") %>

    <div class="container-md mt-5">

        <!-- <h1>
            <%= title  %>
                <%= total %>
        </h1> -->

        <div class="col-sm-6">
            <div>
                <form action="/photoes/search" method="GET">
                    <div class="form-group">
                        <label for="searchInputText">Search photoes</label>
                        <input type="text" class="form-control" id="searchInputText" placeholder="input here..." name="query">
                        <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
                    </div>

                    <button type="submit" class="btn btn-primary bg-info">Search</button>
                </form>
            </div>
        </div>

        <% if (title) { %>
            <div class="mt-5" id="photolist">
                <% for(var i=0; i<datas.length; i++) {%>

                    <div class="col-sm-6">
                        <div class="card mb-1">
                            <img src="<%= datas[i].urls.small %>" class="card-img-top" alt="<%= datas[i].alt_description %>">
                            <div class="card-body">
                                <h5 class="card-title">
                                    <%= datas[i].likes %> likes
                                </h5>
                                <p class="card-text">
                                    <% if (datas[i].description) { %>
                                        <%= datas[i].description %>
                                            <% } %>
                                </p>
                                <a href="<%= datas[i].links.download %>" class="">Download</a>
                            </div>
                        </div>
                    </div>
                    <% } %>
            </div>
            <% } else{ %>
                <div class="mt-5" id="photolist">
                    <% for(var i=0; i<datas.length; i++) {%>

                        <div class="col-sm-6">
                            <div class="card mb-1">
                                <img src="<%= datas[i].urls.small %>" class="card-img-top" alt="<%= datas[i].alt_description %>">
                                <div class="card-body">
                                    <h5 class="card-title">
                                        <%= datas[i].views %> views
                                            <%= datas[i].downloads %> downloads
                                    </h5>
                                    <p class="card-text">
                                        <%= datas[i].links.description %>
                                    </p>
                                    <a href="<%= datas[i].links.download %>" class="">Download</a>
                                </div>
                            </div>
                        </div>
                        <% } %>
                </div>
                <% } %>

    </div>
    <div id="loading" class="mt-5">
        <div class="d-flex justify-content-center">
            <div class="spinner-border text-light" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
    </div>

    <%- include("foot") %>
        <script type="module" src="/js/photolist.js"></script>