<div class="card" style="width: 18rem;">
    <img src="<%= data[0].urls.small %>" class="card-img-top" alt="<%= data[0].alt_description %>">
    <div class="card-body">
        <h5 class="card-title">
            <%= data[0].views %> views
                <%= data[0].downloads %> downloads
        </h5>
        <p class="card-text">
            <%= data[0].links.description %>
        </p>
        <a href="<%= data[0].links.download %>" class="">Download</a>
    </div>
</div>