<%- include("header") %>

    <div class="container-md mt-5 area">
        <!-- <div>
            <%= allpages %>
        </div> -->

        <div id="ringtonelist">
            <% for( let index=0; index < ringtones.length - 1; index+=2 ) { %>

                <%- include('card',{ ringtone: ringtones[index],ringtone_odd:ringtones[index + 1] } ) %>

                    <% } %>
        </div>
        <%- include('pagination',{allpages:allpages,currentPage:currentPage}) %>


    </div>

    <%- include("foot") %>
        <script type="module" src="/js/ringtonelist.js"></script>